.fld{
    border:1px solid;
    border-radius: 30px;

}
.fld legend{
    padding: 5px 20px;
    text-align: center;
    width: 40%;

}

.monserrat{
    font-family: 'Montserrat', sans-serif;
}

.color_white{
background-color: #ffff;
}

.snd_color
{
    background-color :#1a3070;
}

/*coluer au niveau de l'affichage des donnees statistiques*/
.snd_color_state
{
    color :#1a3070;
}
.inscription_btn
{
  font-weight: bold;
  background-color: #1a3070;
  color: #f5f5f5;
}

.bglogin{/*background-color: green !important;*/
background-color: rgb(255, 255, 255)!important;
background-image: url('../logins.jpg');
/*background-repeat: no-repeat;*/
background-position: center;
background-size: 66%;
}

.bglogin2{
background: transparent;
margin-left: 45%;
width: 30%;

}

.bglogin2 label, .bglogin2 span, .bglogin2 a {color: #fff; font-weight: bold;}

.btcon {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 16px;
    font-weight: bold;}
    .btn.btn-xlg {
        padding: 10px 10px !important;
        font-size: 16px;
    }
    .btn, .input-group-btn .btn {

        margin: 10px 40px !important;
    }

.hauteurbas {

    margin-bottom: 0 !important;

}
.inscription_btn {
    background-color: #159dd9 !important;
}
.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #fff;
}
.btn-primary {
    background-color: #159dd9 !important;
}
.btn:not(.btn-raised).btn-warning, .input-group-btn .btn:not(.btn-raised).btn-warning {
    color: #fff;
}
.tab-wizard {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    margin: auto;
}

.table-tr-th {
    padding: 2px !important;
    border-color: #e0e0e0 !important;
}
/* select.form-control {
    border: 2 !important;
    box-shadow: none;
    border-radius: 0;
}

.form-control, .form-group .form-control {
    border: 2 !important;
    background-image: none !important;
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
} */
.card-body2 {
        margin: 0 auto !important;  /* Added */
        float: none !important; /* Added */
        margin-bottom: 10px !important; /* Added */
}


.form-control2 {
    border-radius: 5px !important;
  }

  .bgcreate {
    background-color: #2c64ac!important;
    background-image: url('../logins.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 110% 70%!important;
  }

  .form-control3 {
    margin-left: 15px !important;
  }

  label {
    margin-left: 3% !important;
  }

  /* Responsivité du site */

  /* NAV*/
  nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    text-align: right;
  }

  nav div{
    margin: 0%;
    padding: 0%;
  }

  div ul li a{
    padding-left: 0%;
    padding-right:0%;
  }

  div a{
    padding-left: 0%;
    padding-right:0%;
  }

  .logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
  }

  a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  #menu-icon{
    display: none;
  }

  /*Page Create*/

  #row_nom, #row_prenom, #row_email, #row_telephone{
      display: none;
  }

  .div_res2{
    display: none;
  }

  .col_res1{
    margin-left: 11.5px;
    margin-right: 12px;
  }


  @media only screen and (max-width:800px){

    /*NAV*/

    #menu-icon{
      display: block;
      cursor: pointer;
      width: fit-content;
  }


  #deroulanta{
    background-color: rgb(255, 255, 255);
  }

  #menu-id2{
    width: fit-content;
    background-color: #159dd9;
  }


  #element-list1, #element-list2, #element-list3, #element-list4{
    color:rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 300;

  }

  #div-nav{
      width: fit-content;
      margin-top: 5px;
      margin-left: 45%;
  }

  /*Page Create*/

  #row_nom_prenom, #row_tel_email{
      display: none;
  }

  #row_nom, #row_prenom, #row_email, #row_telephone{
    display: block;
}

  .div_res1{
    display: none;
  }

  .div_res2{
    display: block;
  }

  .col_res{
    margin-left: 15px;
    margin-right: 15px;
  }

  }
